
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590211140584276938.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590211140584276938.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590211140584276938.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590211140584276938.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590211140584276938.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590211140584276938.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590211140584276938.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590211140584276938.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590211140584276938.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590211140584276938.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590211140584276938.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590211140584276938.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590211140584276938.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-590211140584276938.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590211140584276938.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590211140584276938.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590211140584276938.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590211140584276938.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590211140584276938.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590211140584276938.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590211140584276938.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590211140584276938.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-590211140584276938.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-590211140584276938.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-590211140584276938.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-590211140584276938.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590211140584276938.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590211140584276938.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-590211140584276938.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-590211140584276938.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-590211140584276938.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-590211140584276938.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590211140584276938.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590211140584276938.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590211140584276938.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590211140584276938.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590211140584276938.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590211140584276938.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590211140584276938.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590211140584276938.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590211140584276938.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590211140584276938.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590211140584276938.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-590211140584276938.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590211140584276938.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-590211140584276938.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-590211140584276938.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-590211140584276938.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-590211140584276938.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-590211140584276938.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-590211140584276938.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590211140584276938.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590211140584276938.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-590211140584276938.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-590211140584276938.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-590211140584276938.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-590211140584276938.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-590211140584276938.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-590211140584276938.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590211140584276938.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590211140584276938.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590211140584276938.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590211140584276938.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-590211140584276938.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-590211140584276938.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-590211140584276938 .gp-relative{position:relative}.gps-590211140584276938 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590211140584276938 .gp-mb-0{margin-bottom:0}.gps-590211140584276938 .gp-flex{display:flex}.gps-590211140584276938 .gp-grid{display:grid}.gps-590211140584276938 .\!gp-hidden{display:none!important}.gps-590211140584276938 .gp-hidden{display:none}.gps-590211140584276938 .gp-max-w-full{max-width:100%}.gps-590211140584276938 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590211140584276938 .gp-flex-col{flex-direction:column}.gps-590211140584276938 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590211140584276938 .gp-duration-200{transition-duration:.2s}.gps-590211140584276938 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-590211140584276938 .tablet\:\!gp-hidden{display:none!important}.gps-590211140584276938 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-590211140584276938 .mobile\:\!gp-hidden{display:none!important}.gps-590211140584276938 .mobile\:gp-hidden{display:none}}.gps-590211140584276938 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(800px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:none;--pl-mobile:none;--pr:var(--g-ct-p, 15px);--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvyLWIuo-8"}' data-id="gvyLWIuo-8" id="gvyLWIuo-8" data-same-height-subgrid-container class="gvyLWIuo-8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:36px;--pl-mobile:20px;--pb-mobile:36px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gapEXTJ4IC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gG_pktozbH"
        class="gG_pktozbH"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761330329883"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:48px;--size-tablet:37px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggG_pktozbH_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCJdleIluh"
        class="gCJdleIluh"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761330329884"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:48px;--size-tablet:37px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCJdleIluh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-590211140584276938 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/y1behc-h0/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590211132900246358&sectionId=590211140584276938)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggG_pktozbH_text","label":"ggG_pktozbH_text","default":"<strong>3 things </strong><span style=\"background-color:rgba(234,164,229,0.77);\"><strong>you NEED to know</strong></span><strong> before wearing The Bad B*tch necklace with carnelian</strong>"},{"type":"html","id":"ggCJdleIluh_text","label":"ggCJdleIluh_text","default":"<strong>3 things </strong><span style=\"background-color:rgba(234,164,229,0.77);\"><strong>you NEED to know</strong></span><strong> before wearing The Bad B*tch necklace with carnelian</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  