
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590222141052420950.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590222141052420950.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590222141052420950.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590222141052420950.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590222141052420950.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590222141052420950.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590222141052420950.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590222141052420950.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590222141052420950.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590222141052420950.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590222141052420950.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590222141052420950.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590222141052420950.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-590222141052420950.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590222141052420950.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590222141052420950.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590222141052420950.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590222141052420950.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590222141052420950.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590222141052420950.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590222141052420950.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590222141052420950.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-590222141052420950.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-590222141052420950.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-590222141052420950.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590222141052420950.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590222141052420950.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-590222141052420950.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-590222141052420950.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-590222141052420950.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590222141052420950.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590222141052420950.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590222141052420950.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590222141052420950.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590222141052420950.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590222141052420950.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590222141052420950.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590222141052420950.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-590222141052420950.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590222141052420950.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-590222141052420950.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-590222141052420950.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590222141052420950.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-590222141052420950.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-590222141052420950.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-590222141052420950.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-590222141052420950.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590222141052420950.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590222141052420950.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-590222141052420950.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-590222141052420950.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-590222141052420950.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-590222141052420950.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590222141052420950.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590222141052420950.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-590222141052420950.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-590222141052420950 .gp-relative{position:relative}.gps-590222141052420950 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590222141052420950 .gp-mb-0{margin-bottom:0}.gps-590222141052420950 .gp-flex{display:flex}.gps-590222141052420950 .gp-grid{display:grid}.gps-590222141052420950 .\!gp-hidden{display:none!important}.gps-590222141052420950 .gp-hidden{display:none}.gps-590222141052420950 .gp-max-w-full{max-width:100%}.gps-590222141052420950 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590222141052420950 .gp-flex-col{flex-direction:column}.gps-590222141052420950 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590222141052420950 .gp-duration-200{transition-duration:.2s}.gps-590222141052420950 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-590222141052420950 .tablet\:\!gp-hidden{display:none!important}.gps-590222141052420950 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-590222141052420950 .mobile\:\!gp-hidden{display:none!important}.gps-590222141052420950 .mobile\:gp-hidden{display:none}}.gps-590222141052420950 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gKrBdSgjdd"}' data-id="gKrBdSgjdd" id="gKrBdSgjdd" data-same-height-subgrid-container class="gKrBdSgjdd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gK6Lx487Uk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBZ6dTcqJY"
        class="gBZ6dTcqJY"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761330290862"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBZ6dTcqJY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-590222141052420950 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/y1behc-h0/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590211132900246358&sectionId=590222141052420950)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggBZ6dTcqJY_text","label":"ggBZ6dTcqJY_text","default":"<p><span style=\"font-size:34px;\"><strong>Receipts don’t lie.</strong></span><br><span style=\"font-size:20px;\"><strong>⭐ Rated 4.8 by 292,000 babes</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  